@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kavivanar&family=Montserrat&display=swap');

:root {
    --bs-blue-8: rgba(13, 110, 253, 0.8);
    --bs-indigo-8: rgba(102, 16, 242, 0.8);
    --bs-purple-8: rgba(111, 66, 193, 0.8);
    --bs-teal-8: rgba(32, 201, 151, 0.8);
    --bs-red-8: rgba(220, 53, 69, 0.8);
}
html {
    height: 100vh;
}
 * {
    font-family: 'Montserrat', sans-serif;
 }
body, #root {
    min-height: 100vh;
}
a {text-decoration: unset; font-weight: bold;}

.navbar-brand {
    max-width: 250px;
}
button.nav-link {
    font-family: inherit;
    border: unset;
    background-color: unset;
    outline: unset;

}

.card {
    overflow: hidden;
}

picture.card-img,
.card-img,
.card-img-thumbnail,
.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.card-img-overlay {
    opacity: 0;
    transition: all 750ms ease-in-out;
    cursor: pointer;
}

.card:hover > .card-img-overlay {
    opacity: 1;
    background-color: var(--bs-purple-8);
}

@media screen and (min-width: 992px) {
    .fs-1 {
        font-size: 1.2rem !important;
    }
}


.text-teal,
a.text-purple:hover {
    color: var(--bs-teal);
}
.text-purple,
a.text-teal:hover {
    color: var(--bs-purple);
}

.text-shadow {
    text-shadow:  .15rem .15rem 4px rgba(0, 0 , 0, .3)!important;
}

.bg-teal {
    background-color: var(--bs-teal);
}
.bg-purple {
    background-color: var(--bs-purple);
}
.btn-teal {
    color: #fff;
    background-color: var(--bs-teal);
    border-color: var(--bs-teal);
}
.btn-teal:hover {
    color: #fff;
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}
.btn-purple {
    color: #fff;
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}
.btn-purple:hover {
    color: #fff;
    background-color: var(--bs-teal);
    border-color: var(--bs-teal);;
}

.instagram {
    color: #F77737; 
}

.instagram:hover {
    color: #833AB4;
}

.facebook {
    color: #4267B2; 
}
.facebook:hover {
    color: #00C6FF
}

.twitter {
    color: #1DA1F2; 
}
.twitter:hover {
    color: #AAB8C2;
}

.linkedin {
    color: #2867B2; 
}
.linkedin:hover {
    color: #FFFFFF;
}

.kavivanar {
    font-family: 'Kavivanar', cursive;
}

.fredericka-the-great {
    font-family: 'Fredericka the Great', cursive;
}

.ratio-9x16 {
    --aspect-ratio: calc(16 / 9 * 100%);
}

.ratio .card .card-body {
    overflow-y: hidden;
}